body {
    padding: 50px;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/*Astronaut animation*/
/*Code from https://codepen.io/teerapuch/pen/vLJXeR */
/*Editted for my own uses*/
.astroDiv { 
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(3deg);
    transform: rotate(0.3rad);
    transform: rotate(3grad);
    transform: rotate(.03turn);
    margin-left: auto;
    margin-right: auto;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.posDiv {
    transform: translate(50px,200px);
}
.astro {
    height: 200px;
    width: auto;
}

/*Space ship animation*/
/*Code from https://www.w3schools.com/css/css3_animations.asp */
/*Edtited for my own uses*/
.shipDiv {
    width: 100px;
    height: 100px;

    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}
@keyframes example {
    from {
        left: -200px;
        top: 0px;
    }

    to {
        left: 1700px;
        top: 0px;
    }
}

.ship {
    height:100px;
    width:auto;
}