
/*This section:
  Code by Leporidactic*/
body {
    background-color: #fbf9f6;
    color: #3e3326;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
}

.container, .container-fluid {
    position: relative;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
div {
    display: block;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.card {
    background-color: #fbf9f6;
    border: 1px solid rgba(62,51,38,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.rounded-0 {
    border-radius: 0;
}
.p-2 {
    padding: 0.5rem !important;
}
.border-0 {
    border: 0 !important;
}

.flex-column {
    flex-direction: row !important;
}
.align-content-around, .align-content-center, .align-content-end, .align-content-start, .align-content-stretch, .align-items-baseline, .align-items-center, .align-items-end, .align-items-start, .align-items-stretch, .flex-column, .flex-column-reverse, .flex-nowrap, .flex-row, .flex-row-reverse, .flex-wrap, .flex-wrap-reverse, .justify-content-around, .justify-content-between, .justify-content-center, .justify-content-end, .justify-content-start {
    display: flex;
}
.flex-fill {
    flex: 1 1 auto !important;
}
.d-flex {
    display: flex !important;
}

.text-white {
    color: #fff !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.p-1 {
    padding: 0.25rem !important;
}
.bg-dark {
    background-color: #574837 !important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}

.fr-view p:last-of-type {
    margin-bottom: 0;
}
.faded {
    opacity: .5;
}
.text-center {
    text-align: center !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bg-faded {
    background-color: #f6f2eb;
}
.text-muted {
    color: #806e59 !important;
}

/*This section:
  Code from W3Schools*/
.icon-bar {
    width: 70px;
    background-color: #555;
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 5px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }

        .icon-bar a:hover {
            background-color: #eadbc0;
        }

.active {
    background-color: #3c301d;
}